{% extends "base.html" %}

{% block content %}
<head>
    <script src="{{ url_for('static', filename='javascript_homework.js')}}"></script>
    <script>
        let answers = [];
        // get all the flask variables (errors may show in IDE as integrating Jinja with javascript)
        var questions = {{ questions|tojson|safe }}
        var algorithms = {{ algorithms|tojson|safe }}
        var homework_id = {{ homework_id|tojson|safe }}
        var startNodes = {{ startNodes_list|tojson|safe }}
        var endNodes = {{ endNodes_list|tojson|safe }}
        var questionAndAlgorithms = [questions,algorithms];

        let currentQuestion = 1;
        let numQuestions = 0;
        let questionNodes = [];
        let questionEdges = [];
        function appendGraphData(nodes,edges) //create graph objects for the graphs in each question (need objects to compute algorithms and to draw)
        {
            questionNodes.push(nodes);
            questionEdges.push(edges);
        }

        function submitHomework()
        {           
            
            let userAnswers = [];
            //mark each question
            for(let x = 0; x < numQuestions;x++)
            {
                
                let answer1 = document.getElementById("answer"+(x+1)).value;
                if(answer1 === "")
                {
                    answer1 = "___NO_ANSWER___";
                }
                let answer2 = ""; 
                try{ //if there is a second answer
                    
                    answer2 = document.getElementById("2ndAnswer"+(x+1)).dataset.info; //is answer expected
                    if(answer2 === "___EXPECTED___") //if expected
                    {
                        if(document.getElementById("2ndAnswer"+(x+1)).value === "") //if blank
                        {
                            answer2="___NO_ANSWER___";//no answer
                        }
                        else{
                            answer2 = document.getElementById("2ndAnswer"+(x+1)).value;//else answer = answer they gave
                        }
                    }
                    
                }catch(error) //if no answer is expected then set to n/a
                {
                    answer2 = "n/a";
                }
                userAnswers.push([answer1,answer2]);//push answers to final answers array
            }
            var xhr = new XMLHttpRequest(); //set up XHR 
            xhr.open("POST", "/submitHomework"); //open flask route
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); //set header
            xhr.send(JSON.stringify({userAnswers:userAnswers, correctAnswers:answers, homework_id:homework_id})); //info to pass to flask
            alert("Homework Submitted. Thank you");
            //once alert close redirect back to homeworkHUB
            window.location.href = "/homeworkHUB_student";
        }

        window.onload = function(){
            //create canvas
            var canvas = document.getElementById("homeworkCanvas");
            var context = canvas.getContext("2d");
            context.canvas.width = 0.9 * window.innerWidth;
            context.canvas.height = 0.6 * window.innerHeight;

            var questionDivs = document.querySelectorAll("div[id^='questionDiv']");
            for (var i = 0; i < questionDivs.length; i++) {//get the number of questions
                numQuestions++;
            }
            document.getElementById("questionNumber").innerHTML="<h3>Question " + currentQuestion+" of "+numQuestions+"</h3>"; //question number text


            
            createGraphObjects(questionNodes,questionEdges); //create graph objects from the JSON passed through
            redrawCanvas(HomeworkGraphs[0]); //draw the first graph to canvas
            for(let x = 0; x < questionAndAlgorithms[0].length;x++) //build the html DIVS for each question
            {
                let startNode;
                let endNode;
                if(startNodes[x]!='n/a'){startNode=startNodes[x];}
                if(endNodes[x]!='n/a'){endNode=endNodes[x];}
                if(questionAndAlgorithms[0][x]!= "Find shortest path" && questionAndAlgorithms[0][x]!= "Find weight of MST") //if it is a custom question
                {
                    document.getElementById('questionTextDiv'+(x+1)).innerHTML = "<h5>"+questionAndAlgorithms[0][x]+"</h5>";
                    document.getElementById("startEndNodeDiv"+(x+1)).style.display="none";
                    answers.push(["___CUSTOM_ANSWER___"]);
                }
                else{
                    if(questionAndAlgorithms[1][x]==="Dijkstra's algorithm") //if it is a DJIKSTRAS question
                    {
                        document.getElementById('answer'+(x+1)).placeholder += " Path = (e.g. 1,2,3)"; //placeholder for anwer box
                        document.getElementById('2ndAnswerDiv' + (x+1)).style.display = "block"; //show 2nd answer box
                        document.getElementById('2ndAnswer' + (x+1)).placeholder = "Weight of Shortest Path"; //placeholder for 2nd answer box
                        const [shortestPath, lengthOfPath] = Dijkstra(startNode,endNode,HomeworkGraphs[x].getMatrix()); //get answer for dj question
                        answers.push([shortestPath, lengthOfPath]);//push the answers to answers array
                        document.getElementById('2ndAnswer' + (x+1)).dataset.info = "___EXPECTED___"; //make it so a 2nd answer is expected


                    }
                    else if(questionAndAlgorithms[1][x]==="BFS (Breadth First Search)") //if it is a BFS question (SAME AS DJ ABOVE)
                    {
                        const [shortestPath, lengthOfPath] = Dijkstra(startNode,endNode,HomeworkGraphs[x].getMatrix());

                        answers.push([shortestPath,lengthOfPath]);// + "|" + nodesVisited]);
                        document.getElementById('answer'+(x+1)).placeholder += " Path = (e.g. 1,2,3)";
                        document.getElementById('2ndAnswerDiv' + (x+1)).style.display = "block";
                        document.getElementById('2ndAnswer' + (x+1)).placeholder = "Weight of Shortest Path";
                        document.getElementById('2ndAnswer' + (x+1)).dataset.info = "___EXPECTED___";


                        
                    }
                    else if(questionAndAlgorithms[1][x]==="DFS (Depth First Search)")//if it is a DFS question (SAME AS DJ ABOVE)
                    {
                        const [shortestPath,lengthOfPath ] = Dijkstra(startNode,endNode,HomeworkGraphs[x].getMatrix());
                        answers.push([shortestPath ,lengthOfPath]);
                        document.getElementById('answer'+(x+1)).placeholder += " Path = (e.g. 1,2,3)";
                        document.getElementById('2ndAnswerDiv' + (x+1)).style.display = "block";
                        document.getElementById('2ndAnswer' + (x+1)).placeholder = "Weight of Shortest Path";
                        document.getElementById('2ndAnswer' + (x+1)).dataset.info = "___EXPECTED___";

                        
                    }
                    else if(questionAndAlgorithms[1][x]==="Kruskal's") //if it is a kruskals question only show 1 answer box and find the MSTWeight and push that to answers array
                    {
                        console.log("Question = Kruskal's");
                        answers.push([computeMSTWeight(HomeworkGraphs[x].getMatrix())])
                        document.getElementById("startEndNodeDiv"+(x+1)).style.display="none";

                        
                    }
                    else if(questionAndAlgorithms[1][x]==="Prim's") //if it is a prims question only show 1 answer box and find the MSTWeight and push that to answers array
                    {
                        console.log("Question = Prim's");
                        answers.push([computeMSTWeight(HomeworkGraphs[x].getMatrix())])
                        document.getElementById("startEndNodeDiv"+(x+1)).style.display="none";
                        
                    }
                    else if(questionAndAlgorithms[1][x]==="Custom Question") //if it is a custom question then push ["Custom answer"] to answers as will be changed in flask
                    {
                        console.log("Question = Custom Question");
                        answers.push(["Custom Answer"]);
                        document.getElementById("startEndNodeDiv"+(x+1)).style.display="none";
                    }
                }
            }

            //console.log("final answer = " , answers);


        }
        /**
         * Used to change the question, hide the current div and show the next or previous question
         */
        function changeQuestion(direction){
            var questionDiv = document.getElementById("questionDiv"+currentQuestion);
            let nextButton = document.getElementById('nextBtn');
            let backButton = document.getElementById('backBtn');
            questionDiv.style.display = "none";
            if(direction==="fwd")
            {
                if(currentQuestion!=numQuestions)
                {
                    currentQuestion++;
                }
            }else{
                currentQuestion--;
            }
            document.getElementById("questionDiv"+currentQuestion).style.display = "inline";
            if(currentQuestion==1)
            {
                //disable back
                backButton.disabled=true;
            }else{
                //enable back button
                backButton.disabled=false;

            }
            if(currentQuestion==numQuestions)
            {
                //disable next and show the submit button
                nextButton.textContent="Submit";
                nextButton.classList.remove("btn-primary");
                nextButton.classList.add("btn-warning");
                nextButton.addEventListener("click", submitHomework);
            }else{
                //enable next
                nextButton.disabled=false;
                nextButton.textContent="Next Question";
                nextButton.classList.add("btn-primary");
                nextButton.classList.remove("btn-warning");
                nextButton.removeEventListener("click", submitHomework);


                
            }
            document.getElementById("questionNumber").innerHTML="<h3>Question " + currentQuestion+" of "+numQuestions+"</h3>";
            redrawCanvas(HomeworkGraphs[currentQuestion-1]);

        }
    </script>
</head>
<h2 style="text-align:center">{{ homework.name }}</h2>
<div id="answersDiv"></div>
<canvas id="homeworkCanvas" style="z-index: 1;"> 
</canvas>

<div class="container" style="width:90%; max-width: none !important;padding:0px !important;">
        <div class="row">
          <div class="col-4" style="text-align:left;"><button type="button" id="backBtn" onclick="changeQuestion('bck')" class="btn btn-primary" disabled="true">&lt; Back</button>
          </div>
          <div class="col-4" id="questionNumber" style="text-align:center;"><h3></h3></div>
          <div class="col-4" style="text-align:right;"><button type="button" id="nextBtn" onclick="changeQuestion('fwd')" class="btn btn-primary">Next Question</button>
          </div>
        </div>
  </div>
  

    {% for question in homework_objects %}
    <script>
        var nodes = {{ question.nodes|tojson|safe }};
        var edges = {{ question.edges|tojson|safe }};
        appendGraphData(nodes, edges);
    </script>
    <div id="questionDiv{{ question.questionNumber }}"
    {% if question.questionNumber==1 %}
    style='display:inline;'>
    {% else %}
    style='display:none;'>
    {% endif %}
    <div class="container" style="width:90%; max-width: none !important; padding:0px !important;">
        <div class="row" style="margin:0;">
          <div class="col-sm-8">
            <div class="row justify-content-center align-items-center d-flex">
              <div id="questionTextDiv{{ question.questionNumber }}" class="col-12 text-center" style="height: 50px; background-color: #ffffff;"><h5>{{ question.questions }} using {{ question.algorithms }}</h5></div>
            </div>
            <div class="row justify-content-center align-items-center d-flex">
              <div id="startEndNodeDiv{{ question.questionNumber }}" class="col-12 text-center" style="height: 50px;background-color: #ffffff;">Start Node: {{ question.startNodes }} End Node: {{ question.endNodes }}</div>
            </div>
          </div>
          <div class="col-sm-4" style="padding:0;">
            <div class="row justify-content-center align-items-center d-flex" style="height: 50px; margin:0;">
                <div class="col-12 text-center" style="background-color: #ffffff; padding:0; height: 100%;">
                  <div class="form-group h-100">
                    <input id="answer{{ question.questionNumber }}" type="text" class="form-control h-100 w-100" placeholder="Enter your answer Here">
                    [{{ question.marks }} Mark(s)]
                  </div>
                </div>
              </div>
              <div id="2ndAnswerDiv{{ question.questionNumber }}" class="row justify-content-center align-items-center d-flex" style="height: 50px; margin:0; display:none !important;">
                <div class="col-12 text-center" style="background-color: #ffffff; padding:0; height: 100%;">
                  <div class="form-group h-100">
                    <input id="2ndAnswer{{ question.questionNumber }}" type="text" class="form-control h-100 w-100" placeholder="Enter your answer Here" data-info="n/a">
                    [{{ question.marks }} Mark(s)]
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      
        </div>
    </div>
    {% endfor %}

            
{% endblock %}