<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="#">
  </head>

  <body>
    <body>
      <nav
        class="navbar navbar-expand-md navbar-light"
        style="background-color: #00ad45"
      >
        <!-- Brand -->
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Home</a>


        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <img src="{{ url_for('static', filename='images/profilePic.png')}}" style="width: 20px; filter: brightness(0) invert(1)"/>
              {{ name }}
            </a>
            <div class="dropdown-menu" style="left:unset !important;right: 0 !important;">
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </body>

    {% block content %} {% endblock %}
  </body>

</html>
