{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='javascript.js')}}"></script>


<body onload="javascript:init()">
    <script type="text/javascript">
        $('document').ready(function () {
    $('.toolbarDiv table tr td button').click(function () {
        //$(this).sibdlings().removeClass('active');
        $(this).parent().siblings().children().removeClass('active');

        if($(this).hasClass('active'))
        {
            $(this).removeClass("active");
        }else{
          $(this).addClass('active');
        }
    });
});
</script>
    <center><h1>Graph Tool</h1></center>
    <div class='overlay'  >
        <div class='popup' style="padding-bottom: 225px;">
            <div class='close'>&#10006;</div><!-- close button-->
             <h2 style="background-color:#00ad45;">Add Weight</h2>

             <br>
            <!-- popup content goes here -->
            <form action="" method="post" id="weightForm">
                <label >Weight</label><br>
                <input type="text" id="fname" name="fname" ><br><br>
                <input type="submit" value="Submit" class="btn btn-primary">

            </form>
        </div>
    </div>

<br>
    <div class="toolbarDiv"style="margin-left: 5%;margin-right: 5%;background-color:#f8f8f8;">
        <table id="toolbar" >
            <tr>
                <td><button title ="Click to create node" id="createNodeButton" type="button" class="btn btn-outline-secondary" >Create Node</button></td>
                <td><button title ="Click to create edge" id="createEdgeButton" type="button" class="btn btn-outline-secondary">Create Edge</button></td>
                <td><button onclick="deleteNode()" id="deleteButton" type="button" class="btn btn-outline-secondary">Delete</button></td>
                <td><button onclick="clearCanvas()" id="clearButton" type="button" class="btn btn-outline-secondary">Clear</button></td>
                <!--<td>Toggle Automatic Weights <input type="checkbox" id="weightToggle"></td>-->
                <!--<td><button title ="Click to toggle weights" id="weightButton" type="button" class="btn btn-outline-secondary">Toggle Weights</button></td>-->

                <td><label class="btn btn-outline-secondary" style="margin-right: 0px;margin-bottom: 0px;"><input type="checkbox" value="Toggle Weights" id="weightToggle">Toggle Weights</label></td>

                <td><label class="btn btn-outline-secondary" style="margin-right: 0px;margin-bottom: 0px;"><input type="checkbox" value="Toggle Directed" id="directedToggle">Toggle Directed</label></td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="">Load Graph
                            <span class="caret"></span></button>
    
                        <ul class="dropdown-menu" id="loadGraphDropdown">
                            {% if SavedGraphs[0] is not defined %}
                                <li><button type="button" class="dropdown-item btn btn-default" style="width:100%; text-align: center;">No saved graphs</button></li>
                            {% endif %}

                            {% for graph in SavedGraphs %}
                                <li><button onclick="graph.load('{{ graph.nodes }}','{{ graph.edges }}')" type="button" class="dropdown-item btn btn-default" style="width:100%; text-align: center;">{{ graph.name }}</button></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button onclick="addHiddenSaveFields()" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="">Save Graph
                            <span class="caret"></span></button>
                        <form id="form_id" method="post" name="myform">
                            
                        <ul class="dropdown-menu" id="saveGraphDropdown">
                            {{ save_form.csrf_token }}

                            <li>{{ save_form.graph_name(style='width:100%;') }}</li>
                            <!--{{ save_form.nodes_hidden(value='nodes_hidden_value')}}
                            {{ save_form.edges_hidden(value='edges_hidden_value')}}
                            -->
                            {{ save_form.nodes_hidden()}}
                            {{ save_form.edges_hidden()}}
                            <li>{{ save_form.submit_saveGraph(class_='dropdown-item btn btn-default', style='width:100%;text-align:center;') }}</li>  
                            

                        </ul>
                        <form id="form_id" method="post" name="myform" class="register_form">

                    </div>
                </td>
            </tr>
            
        </table>
    </div>
    <div>
            <canvas id="graphCanvas" style="z-index: 0;"> 
            
            </canvas>
    </div>

    <div>
        <div id="algorithmStepsText" style="text-align:center;"></div>
        <div id="algorithmSteps"></div> 
    </div>

    <div>
        <div class="row" style="width: 90%;margin-left:5%;">
            <div class="col-sm-6" style="padding-left: 0px; ">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="algorithmSelectionButton">Algorithms
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><button onclick="showAlgorithm(this,'dj')" type="button" class="dropdown-item btn btn-default" style="width:100%">Dijkstra's</button></li>
                      <li><button onclick="showAlgorithm(this,'kr')" type="button" class="dropdown-item btn btn-default" style="width:100%">Kruskal's</button></li>
                    </ul>
                  </div>
            </div>
            <div id="DJsControlButtons" class="col-sm-6" style="padding-right: 0px; display:none;">
                <table class="float-right">
                    <tr>
                        <td><button onclick="algorithmControls_next(true)" type="button" class="btn btn-default">Play</button></td>
                        <td><button onclick="algorithmControls_next(false)" type="button" class="btn btn-default">Next Step</button></td>
                    </tr>
                    
                </table>
            </div>
            <div id="KruskalsControlButtons" class="col-sm-6" style="padding-right: 0px; display:none;">
                <table class="float-right">
                    <tr>
                        <td><button onclick="kruskalInstruction_next(true)" type="button" class="btn btn-default">Play</button></td>
                        <td><button onclick="kruskalInstruction_next(false);" type="button" class="btn btn-default">Next Step</button></td>
                    </tr>
                    
                </table>
            </div>

        </div>
        <div id="startNodeDiv" class="row" style="width:90%;margin-left:5%; display:none;">
            <div class="col-sm-6" style="padding-left: 0px;">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="">Choose Start Node
                        <span class="caret"></span></button>

                    <ul class="dropdown-menu" id="startNodeDropdown">
                        <!-- Javascript created list elements -->
                    </ul>
                </div>
                <div id="currentlySelectedNode">
                    
                </div>
            </div> 
        </div>
        <div id="kruskalsButtonDiv" class="row" style="width:90%;margin-left:5%; display:none;">
            <div class="col-sm-6" style="padding-left: 0px;">
                <div class="dropdown">
                    <button onclick="kruskals()" class="btn btn-primary" type="button">Run Kruskals

                </div>
            </div> 


        </div>

    </div>


    <br>

    <center>
        <!-- admin tools hidden-->
        <div id="admintools" style="display:none;">
    <p>Admin tools:</p>
    <button onclick="printNodes()">Click to print current nodes</button>
    <br>
    <button onclick="printEdges()">Click to print current edges</button>
    <br>
    <button onclick="printSavedGraph()">Click to print saved graph format</button>
    <br>
    <button onclick="graph.load()">Click to load graph</button>
    <br>
    <button onclick="graph.save()">Click to save graph</button>
    <br>
    <button onclick="runDJ()">Click for Dijkstras</button>
    <br>
    <button onclick="debugFunction()">DebugButton</button>
    <br>
    <button onclick="showAlgorithmTable()">Test</button>
</div>
    <div id="matrixTable" style="width:50%; display: none;">
    </div>
    </center>
    <center>
    <div id="algorithmTable" style="width:20%;">
        
    </div>
</center>

    </div>


{% endblock %}