{% extends "base.html" %}

{% block content %}
    <h1>Graph Algorithms Visualisation Tool</h1>
    <h3 style="text-align:center;">Welcome, {{ name }}!</h3>
    <h4 style="text-align:center;">Logged in as Student</h4>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-6"style="height: 200px;">
                <button onclick="location.href='{{ url_for('main.graphs') }}'" class="buttonOption" style="height:100%; width: 100%;border-radius: 50px 50px 50px 50px;background-color: #d9edd5">
                    <h4>Create Graph</h4>
                    <p>Use th Graph Visualisation Tool to create graphs and run algorithms</p>
                </button>
            </div>
            <div class="col-sm-6"style="height: 200px;">
                <button onclick="location.href='{{ url_for('main.homeworkHUB_student') }}'" class="buttonOption" style="height:100%; width: 100%;border-radius: 50px 50px 50px 50px;background-color: #d9edd5">
                    <h4>Homeworks</h4>
                    <p>View  Homework assignments (old/new)</p>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"style="height: 200px;">
                <button onclick="location.href='{{ url_for('main.viewClasses_student') }}'" class="buttonOption" style="height:100%; width: 100%;border-radius: 50px 50px 50px 50px;background-color: #d9edd5">
                    <h4>Classes</h4>
                    <p>View enrolled classes, join new classes</p>
                </button>
            </div>
            <div class="col-sm-6"style="height: 200px;">
                <button onclick="location.href='{{ url_for('main.about') }}'" class="buttonOption" style="height:100%; width: 100%;border-radius: 50px 50px 50px 50px;background-color: #d9edd5">
                    <h4>About</h4>
                    <p>Instructions on using the platform</p>
                </button>
            </div>
        </div>
    </div>
{% endblock %}