{% extends "base.html" %}

{% block content %}
<script>
  //controls the buttons at the top of the screen to filter homework tiles
function changeTiles(btn) {
  let completedBtn = document.getElementById('completedBtn');
  let allBtn = document.getElementById('allBtn');
  let currentBtn = document.getElementById('currentBtn');
  let completedDiv = document.getElementById('completedHomeworksDiv');
  let allDiv = document.getElementById('allHomeworksDiv');
  let currentDiv = document.getElementById('currentHomeworksDiv');

  switch(btn) {
    case "completed":
      completedBtn.disabled = true;
      allBtn.disabled = false;
      currentBtn.disabled = false;
      completedDiv.style.display = "block";
      allDiv.style.display = "none";
      currentDiv.style.display = "none";
      break;
    case "all":
      allBtn.disabled = true;
      completedBtn.disabled = false;
      currentBtn.disabled = false;
      completedDiv.style.display = "none";
      allDiv.style.display = "block";
      currentDiv.style.display = "none";
      break;
    case "current":
      currentBtn.disabled = true;
      allBtn.disabled = false;
      completedBtn.disabled = false;
      completedDiv.style.display = "none";
      allDiv.style.display = "none";
      currentDiv.style.display = "block";
      break;
    default:
      break;
  }
}

</script>

<style>
    .gradient-image {
        min-width: 200px;
        min-height:200px;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom right, #f19090, #92b892, #8787b4);
    }
  </style>
    <h1>Homework HUB</h1>
    <div class="container" style="padding-top:10px;padding-bottom:10px;">
      <div class="row" style="text-align: center;">
      <div class="col-4"><button id="completedBtn" onclick="changeTiles('completed')" type="button" class="btn btn-primary">Completed Homeworks</button></div>
      <div class="col-4"><button id="allBtn" onclick="changeTiles('all')" type="button" class="btn btn-primary" disabled="true">All Homeworks</button></div>
      <div class="col-4"><button id="currentBtn" onclick="changeTiles('current')" type="button" class="btn btn-primary">Current Homeworks</button></div>
      </div>
    </div>
    <div id="allHomeworksDiv" class="container">
        <div class="row">
    {% for homework in homeworks %}
    {% if homework.setDate < dateTimeNow %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top gradient-image" src="path/to/image.jpg" alt="">

          <div class="card-body">
            <h5 class="card-title">{{ homework.name }}</h5>
          {% if homework.dueDate < dateTimeNow %}
            <p class="card-text" style="color:red;">Due: {{ homework.dueDate }}</p>
          {% elif (homework.dueDate - dateTimeNow).days == 0 %}
          <p class="card-text" style="color: orange;">Due: {{ homework.dueDate }}</p>
          {% else %}
            <p class="card-text" style="color: green;">Due: {{ homework.dueDate }}</p>
          {% endif %}
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                {% if homework.result %}
                <p> Mark: {{ homework.result }}</p>
                {% else %}
                <button onclick="location.href='{{ url_for('main.attemptHomework', homework_id=homework.id) }}'" type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                {% endif %}
                <!--<button type="button" class="btn btn-sm btn-outline-secondary">Marks</button>-->
              </div>
              <small class="text-muted">Set: {{ homework.setDate }}<br></small>
            </div>
          </div>
        </div>
      </div>
    {% else %}
    {% endif %}
    {% endfor %}  
        </div>
      </div>

      <div id="completedHomeworksDiv" class="container" style="display:none;">
        <div class="row">
    {% for homework in pastHomeworks %}

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top gradient-image" src="path/to/image.jpg" alt="">

          <div class="card-body">
            <h5 class="card-title">{{ homework.name }}</h5>
          {% if homework.dueDate < dateTimeNow %}
            <p class="card-text" style="color:red;">Due: {{ homework.dueDate }}</p>
          {% elif (homework.dueDate - dateTimeNow).days == 0 %}
          <p class="card-text" style="color: orange;">Due: {{ homework.dueDate }}</p>
          {% else %}
            <p class="card-text" style="color: green;">Due: {{ homework.dueDate }}</p>
          {% endif %}
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button onclick="location.href='{{ url_for('main.attemptHomework', homework_id=homework.id) }}'" type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                <!--<button type="button" class="btn btn-sm btn-outline-secondary">Marks</button>-->
              </div>
              <small class="text-muted">Set: {{ homework.setDate }}<br></small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}  
        </div>
      </div>

      <div id="currentHomeworksDiv" class="container" style="display:none;">
        <div class="row">
    {% for homework in currentHomeworks %}
    {% if homework.setDate < dateTimeNow %}

    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top gradient-image" src="path/to/image.jpg" alt="">

          <div class="card-body">
            <h5 class="card-title">{{ homework.name }}</h5>
          {% if homework.dueDate < dateTimeNow %}
            <p class="card-text" style="color:red;">Due: {{ homework.dueDate }}</p>
          {% elif (homework.dueDate - dateTimeNow).days == 0 %}
          <p class="card-text" style="color: orange;">Due: {{ homework.dueDate }}</p>
          {% else %}
            <p class="card-text" style="color: green;">Due: {{ homework.dueDate }}</p>
          {% endif %}
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button onclick="location.href='{{ url_for('main.attemptHomework', homework_id=homework.id) }}'" type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                <!--<button type="button" class="btn btn-sm btn-outline-secondary">Marks</button>-->
              </div>
              <small class="text-muted">Set: {{ homework.setDate }}<br></small>
            </div>
          </div>
        </div>
      </div>
    {% else %}
    {% endif %}
    {% endfor %}  
        </div>
      </div>

      
{% endblock %}