{% extends "base.html" %}

{% block content %}
<style>
  .gradient-image {
      min-width: 200px;
      min-height:200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #f19090, #92b892, #8787b4);
  }
</style>
  <h1>Homework HUB</h1>
  <div class="container" style=" display: flex;  justify-content: center;  align-items: center; margin-bottom: 10px;">
    <button onclick="location.href='{{ url_for('main.setHomework') }}'" type="button" class="btn btn-primary">Create New Homework</button>
  </div>

  <div class="container">
      <div class="row">
  {% for homework in homeworks %}
  <div class="col-md-4">
      <div class="card mb-4 box-shadow">
          <img class="card-img-top gradient-image" src="path/to/image.jpg" alt="">

        <div class="card-body">
          <h5 class="card-title">{{ homework.name }}</h5>
          {% if homework.dueDate < dateTimeNow %}
            <p class="card-text" style="color:red;">Due: {{ homework.dueDate }}</p>
          {% elif (homework.dueDate - dateTimeNow).days == 0 %}
          <p class="card-text" style="color: orange;">Due: {{ homework.dueDate }}</p>
          {% else %}
            <p class="card-text" style="color: green;">Due: {{ homework.dueDate }}</p>
          {% endif %}
          <p class="card-text">Class: {{ homework.class_name }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Open</button>
              <!--<button type="button" class="btn btn-sm btn-outline-secondary">Marks</button>-->
            </div>
            
            <small class="text-muted">Set: {{ homework.setDate }}<br></small>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}  
      </div>
    </div>
    
{% endblock %}