<!DOCTYPE html>
<head>
    <script src="static/javascript_login.js"></script>

    <link rel="stylesheet" href="static/styles3.css">

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}"-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    
</head>
<body onload="successfulLogin()">


    <script>
        function successfulLogin(){
            if( "{{ successful_login }}" == "True")
            {
                console.log("\n\n\nChanging\n\n\n");
                showLoginForm();
            }
        }
    </script>


    <div class="box">
        <div class="row">
            <div class="col-sm-4" style="padding:0;">
                    <div class="row" style="height: 225px;">
                    <button onclick="showLoginForm()" class="buttonOption" style="width: 100%;border-radius: 50px 0px 0px 0px;">
                        <img src="static/images/profilePic.png">
                        <br>
                        <h4>Login Here</h4>
                    </button>
                    </div>
                    <div class="row" style="height: 225px;">
                        <button onclick="showRegisterForm()" class="buttonOption" style="width:100%;border-radius: 0px 0px 0px 50px;">
                            <img src="static/images/regsiter.png">
                            <br>
                            <h4>Create an Account!</h4>
                        </button>
                    </div>


                
            </div>
            <div class="col">
                <div id="loginForm" style="display:inline;">
                    <h2>Login Here</h2>
                <form id="form_id" method="POST" name="myform" class="login_form">
                    {{ login_form.csrf_token }}
                    <div style="margin-bottom:20px;margin-top:40px">
                        {{ login_form.username }}
                    </div>
                    <div>
                        {{ login_form.password }}
                    </div>
                        {{ login_form.submit_login }}
                    
                </form>
                </div>
                <div id="registerForm" style="display: none;">
                    <h2>Regsiter Here</h2>

                    <form id="form_id" method="post" name="myform" class="register_form">
                        {{ register_form.csrf_token }}
                        {{ register_form.username }}
                        {{ register_form.email }}
                        {{ register_form.password }}
                        {{ register_form.confirm_password }}
                        Are you a teacher? Yes {{ register_form.teacher_check }} 
                        {{ register_form.submit_register() }}

                    </form>
                </div>

            </div>
        </div>
        {% for error in register_form.password.errors %}
        <div class="alert alert-error" style="background-color: #ffadad;border-radius: 50px;">
            <div style="text-align: center;">{{ error }}</div>
        </div>
        {% endfor %}
    </div>

    <center>
        <a href="https://www.vecteezy.com/free-vector/registration-icon">Registration Icon Vectors by Vecteezy</a><br>
        <a href="https://www.flaticon.com/free-icons/avatar" title="avatar icons">Avatar icons created by Freepik - Flaticon</a>
        </center>
</body>