{% extends "base.html" %}

{% block content %}
<script>
    console.log( {{ graphNames | tojson | safe }} ); //errors shown in VS Code that are shown because Jinja being used within JS
    let savedGraphNames = {{ graphNames | tojson | safe }}; //errors shown in VS Code that are shown because Jinja being used within JS
    let savedGraphNumNodes = {{ graphNumNodes | tojson | safe }};//errors shown in VS Code that are shown because Jinja being used within JS
    console.log("SavedGraphNumNodes = " , savedGraphNumNodes);
    for(let x = 0; x < savedGraphNumNodes.length;x++)
    {
        savedGraphNumNodes[x]-=1;
    }

    //let _graphs = {{ graphs }};
    var numQuestions = 0;

    function selectedGraphNameChange(self,tileNumber)
    {
        
        //alert(self.options[self.selectedIndex].text + "Number of Nodes" + savedGraphNumNodes[self.value]);
        document.getElementById('startNode['+tileNumber+']').placeholder = "Start Node (0,"+savedGraphNumNodes[self.value]+")";
        document.getElementById('endNode['+tileNumber+']').placeholder = "End Node (0,"+savedGraphNumNodes[self.value]+")";
        console.log(self.value , " | savedGraphNumNodes: " , savedGraphNumNodes);

        
    }

    function deactivateStartEndNode(self,tileNumber)
    {
        if(self.value=="Kruskal's" || self.value=="Prim's")
        {
            console.log("Disable StartNode/EndNode");
            document.getElementById('startNode['+tileNumber+']').setAttribute('disabled', true);
            document.getElementById('endNode['+tileNumber+']').setAttribute('disabled', true);   
            document.getElementById('questionType'+tileNumber).selectedIndex=2;
        }else{
            console.log("Enable StartNode/EndNode");
            document.getElementById('startNode['+tileNumber+']').removeAttribute('disabled');
            document.getElementById('endNode['+tileNumber+']').removeAttribute('disabled');
            document.getElementById('questionType'+tileNumber).selectedIndex=1;
        }
    }

    function customQuestionDiv(self, tileNumber)
    {
        console.log("Custom question for question " , tileNumber)
        if(self.value=="Custom Question")
        {
            console.log("Add Custom Q DIV");
            let innerHTMLString = `
            <div id="customQuestionDiv`+tileNumber+`" class="row" style="padding-bottom: 10px;">
            <div class="col-sm-3 offset-sm-6"><input type="input" class="form-control" id="custom_question`+numQuestions+`" placeholder="Custom Question" ></div>
        
            <div class="col-sm-3"><input type="input" class="form-control" id="custom_answer`+numQuestions+`" placeholder="Custom Answer" style="width:80%;"></div>
            </div> 
            `;
            document.getElementById('question'+tileNumber+'Tile').insertAdjacentHTML('beforeend', innerHTMLString);
            document.getElementById('startNode['+tileNumber+']').setAttribute('disabled', true);
            document.getElementById('endNode['+tileNumber+']').setAttribute('disabled', true);  

        }
        else{
            try{
                document.getElementById('customQuestionDiv'+tileNumber).remove();
                document.getElementById('startNode['+tileNumber+']').removeAttribute('disabled');
                document.getElementById('endNode['+tileNumber+']').removeAttribute('disabled');
            }catch(err){
                console.log("No customQuestionDiv");
            }
        }
    }

    function deleteQuestionTile(tileToDelete)
    {
        console.log("Tile to delete = " , tileToDelete);
        //need to do;
    }

    function addNewQuestion()
    {
        let innerHTMLString = "";
        numQuestions++;
        var questions = document.getElementById('questions');
        innerHTMLString+=    `    <div id="question`+numQuestions+`Tile" style="position:relative;width: 80%; margin-left: 10%; margin-right: 10%; background-color: #d9edd5; border-radius: 20px ; margin-bottom: 20px;">
            
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-3" style="height: 100%; text-align:center;"><h2>Question `+numQuestions+`</h2></div>
            <div class="col-sm-3">
                <select id="selectedGraphName`+numQuestions+`" class="form-control" onChange="selectedGraphNameChange(this,`+numQuestions+`);">
                    <option hidden="true">Select Graph</option>
                    `;
        for( let graphs = 0; graphs < savedGraphNames.length; graphs++)
        {
            innerHTMLString+="<option value='"+graphs+"'>"+savedGraphNames[graphs]+"</option>";
        }
        innerHTMLString+=`                    
                </select>
          </div>
            <div class="col-sm-3">
                <select class="form-control" id="algorithm`+numQuestions+`" onchange="deactivateStartEndNode(this,`+numQuestions+`);">
                    <option hidden="true">Algorithm</option>
                    <option>Dijkstra's algorithm</option>
                    <option>BFS (Breadth First Search)</option>
                    <option>DFS (Depth First Search)</option>
                    <option>Kruskal's</option>
                    <option>Prim's</option>
                </select>  
            </div>

            <div class="col-sm-3" ><input type="input" class="form-control" id="startNode[`+numQuestions+`]" placeholder="Start Node" style="width:80%;"></div>
            
            
        </div> 
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-sm-3 offset-sm-3"><input type="input" class="form-control" id="marksForQuestion`+numQuestions+`" placeholder="Marks for Question (Default 1)" ></div>
            <div class="col-sm-3">
                <select class="form-control" id="questionType`+numQuestions+`" onChange="customQuestionDiv(this,`+numQuestions+`)">
                    <option hidden="true">Question Type</option>
                    <option>Find shortest path</option>
                    <option>Find weight of MST</option>
                    <option>Custom Question</option>
                </select>
            </div>
            <div class="col-sm-3"><input type="input" class="form-control" id="endNode[`+numQuestions+`]" placeholder="End Node" style="width:80%;"></div>
        </div> 
    </div>
`
    //questions.innerHTML+=innerHTMLString;
    questions.insertAdjacentHTML('beforeend', innerHTMLString); //insert adjacentHTML was used as += the innerHTML was resetting previously selected options 
    }




function ajaxSendData(){

    //console.log(document.getElementById("marksForQuestion1").value)
    var homeworkName = document.getElementById("homeworkName").value;
    var chosenClass = document.getElementById("selectedClass").value;
    var startNodes = []; //done
    var endNodes = []; //done 
    var selectedGraphs = []; //done
    var algorithms = [];  //done
    var marks = []; 
    var questionTypes = []; //done
    var customAnswers = [];
    var setDateTime = document.getElementById("setDate").value + "|" + document.getElementById("setTime").value;
    var dueDateTime = document.getElementById("dueDate").value + "|" + document.getElementById("dueTime").value;
    

    for(let x = 1; x <= numQuestions; x++)
    {
        startNodes.push(document.getElementById("startNode["+x+"]").value);
        endNodes.push(document.getElementById("endNode["+x+"]").value);
        selectedGraphs.push(savedGraphNames[document.getElementById("selectedGraphName"+x).value]);
        
        algorithms.push(document.getElementById("algorithm"+x).value);
        if(document.getElementById("questionType"+x).value == "Custom Question") //if there is a custom question
        {
            questionTypes.push(document.getElementById("custom_question"+x).value)
            customAnswers.push(document.getElementById("custom_answer"+x).value);

        }else{
            questionTypes.push(document.getElementById("questionType"+x).value);
            customAnswers.push("n/a")
        }
        if(document.getElementById("marksForQuestion"+x).value == "")
        {
            marks.push("1")
        }else{
            marks.push(document.getElementById("marksForQuestion"+x).value);
        }
        console.log(customAnswers);

    }
    if(validateSubmission(homeworkName,chosenClass,startNodes,endNodes, selectedGraphs,algorithms,marks,questionTypes,customAnswers,setDateTime,dueDateTime) == false)
    {
        console.log("Errors found - not submitting");
    }
    else{
        //var input2Value = document.getElementById("").value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/setHomeworkPOST");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({homeworkName : homeworkName, chosenClass : chosenClass,
        startNodes : startNodes, endNodes:endNodes, selectedGraphs:selectedGraphs, 
        algorithms : algorithms, questionTypes : questionTypes, marks:marks, 
        customAnswers : customAnswers, setDateTime : setDateTime, dueDateTime : dueDateTime}));//, input2: input2Value}));
        console.log("Homework data submitted");
        xhr.addEventListener("load", function() {
          var response = JSON.parse(xhr.responseText);
          console.log("Response received:", response['result']);
          if(response['result'] === "success"){
              alert("Homework submitted");
              window.location.href = '/homeworkHUB_teacher';
          }
          else{
            alert("Error submitting homework, please try again");
          }
        });

    }

}

    function validateSubmission(homeworkName,chosenClass,startNodes,endNodes, selectedGraphs,algorithms,marks,questionTypes,customAnswers,setDateTime,dueDateTime)
    {
        console.log(">>>>>>>>>>>>>>>Validating Submission");
        let validForSubmission = true;
        var errorDivs = document.querySelectorAll('label#error');
        for (var i = 0; i < errorDivs.length; i++) {
            errorDivs[i].remove();
        }
        if(homeworkName === "")
        {
            console.log("Please give the homework a name");
            document.getElementById("homeworkName").insertAdjacentHTML('afterend', "<label id='error' style='color:red;display:block;'>Please give Homework a name</label>");
            validForSubmission = false;
        }
        if(chosenClass === "Select Class")
        {
            console.log("Please select a class");
            document.getElementById("selectedClass").insertAdjacentHTML('afterend', "<label id='error' style='color:red; display:block;'>Please choose a class</label>");
            validForSubmission = false;

        }
        
        for(let x = 0; x < startNodes.length;x++)
        {
            if(questionTypes[x] != "Find shortest path")
            {
                startNodes[x]="n/a";
                endNodes[x]="n/a";
            }
            else{
                
                if(startNodes[x] < 0 || startNodes[x] > savedGraphNumNodes[savedGraphNames.indexOf(selectedGraphs[x])] || startNodes[x]==="")
                {
                    if(startNodes[x] < 0){console.log(">>>1<<<");}
                    if(startNodes[x] > savedGraphNumNodes[x]){console.log(">>>2<<<");}
                    if(startNodes[x]===""){console.log(">>>3<<<");}
                    console.log("Start node out of range in question " , x+1);

                    document.getElementById("startNode["+(x+1)+"]").insertAdjacentHTML('afterend', "<label id='error' style='color:red; display:block;'>Start node out of range</label>");

                    validForSubmission = false;

                }
                //if(endNodes[x] < 0 || endNodes[x] > savedGraphNumNodes[x] || endNodes[x]==="")
                if(endNodes[x] < 0 || endNodes[x] > savedGraphNumNodes[savedGraphNames.indexOf(selectedGraphs[x])] || endNodes[x]==="")
                {

                    //if(endNodes[x] < 0){console.log(">>>1<<<");}
                    //if(endNodes[x] > savedGraphNumNodes[savedGraphNames.indexOf(selectedGraphs[x])]){console.log(">>>2<<<");console.log(savedGraphNumNodes[savedGraphNames.indexOf(selectedGraphs[x])]);}
                    //if(endNodes[x]===""){console.log(">>>3<<<");}
                    console.log("End node out of range in question" , x+1);
                    document.getElementById("endNode["+(x+1)+"]").insertAdjacentHTML('afterend', "<label id='error' style='color:red; display:block;'>End node out of range</label>");

                    validForSubmission = false;
                }
                if(startNodes[x]==endNodes[x])
                {
                    document.getElementById("endNode["+(x+1)+"]").insertAdjacentHTML('afterend', "<label id='error' style='color:red; display:block;'>Start and End node cannot be the same</label>");

                }
            }
        }
        for(let x = 0; x < selectedGraphs.length; x++)
        {
            console.log("Selected Graph123 " , x , " = " , selectedGraphs[x]);
            if(selectedGraphs[x] === "Select Graph" || selectedGraphs[x] === undefined)
            {
                console.log("Please select a graph for question " , x+1);
                document.getElementById("selectedGraphName"+(x+1)).insertAdjacentHTML('afterend', "<label id='error' style='color:red; display:block;'>Please select a graph</label>");

                validForSubmission = false;

            }
            if(algorithms[x] === "Algorithm")
            {
                console.log("Please select an algorithm for question " , x+1);
                document.getElementById("algorithm"+(x+1)).insertAdjacentHTML('afterend', "<label id='error' style='color:red; display:block;'>Please select an algorithm</label>");

                validForSubmission = false;
            }
        }
        var [setDateString, setTimeString] = setDateTime.split("|");
        var [dueDateString, dueTimeString] = dueDateTime.split("|")

        var [setYear, setMonth, setDay] = setDateString.split("-").map(Number);
        var [setHour, setMinute] = setTimeString.split(":").map(Number);

        var [dueYear, dueMonth, dueDay] = dueDateString.split("-").map(Number);
        var [dueHour, dueMinute] = dueTimeString.split(":").map(Number);

        var setDateObject = new Date(setYear, setMonth - 1, setDay, setHour, setMinute);
        var dueDateObject = new Date(dueYear, dueMonth - 1, dueDay, dueHour, dueMinute);
        if(setDateObject > dueDateObject)
        {
            console.log("Error - Due date is before set date");
            document.getElementById("dueDate").insertAdjacentHTML('afterend', "<label id='error' style='color:red;display:block;'>Due date is before set date</label>");
            validForSubmission = false;

        }
        if(dueDateObject < Date.now())
        {
            console.log("Error - Due date is in the past");
            document.getElementById("dueDate").insertAdjacentHTML('afterend', "<label id='error' style='color:red;display:block;'>Due date in the past</label>");
            validForSubmission = false;

        }
        if(setDateObject < Date.now())
        {
            console.log("Set date is in the past");
            document.getElementById("setDate").insertAdjacentHTML('afterend', "<label id='error' style='color:red;display:block;'>Set date is in the past</label>");
            validForSubmission = false;

        }
        console.log("SetDateObject : " , setDateObject);
        console.log("DueDateObject : " , dueDateObject);
        
        if(marks.length == 0)
        {
            console.log("No questions have been set");
            document.getElementById("setHomeworkButton").insertAdjacentHTML('afterend', "<label id='error' style='color:red;display:block;'>No questions have been set</label>");
            validForSubmission = false;

        }
        
        console.log("Validate Submission")
        console.log("homeworkName: " , homeworkName);
        console.log("chosenClass: " , chosenClass);
        console.log("startNodes: " , startNodes);
        console.log("endNodes: " , endNodes);
        console.log("selectedGraphs: ", selectedGraphs);
        console.log("algorithms: " , algorithms);
        console.log("marks: " , marks);
        console.log("questionTypes: " , questionTypes);
        console.log("customAnswers: " , customAnswers);
        console.log("setDateTime: " , setDateTime);
        console.log("dueDateTime: " , dueDateTime);
        return validForSubmission;
    }


</script>
<div style="background-color: #999999;"></div>
<div class="homeworkSettings" style="text-align: center; margin: 20px;">
    <div class="row">
        <div class="col-sm-2"><input type="input" class="form-control" id="homeworkName" placeholder="Homework Name"><label>Set Homework Name</label></div>
        <div class="col-sm-2">
            <select class="form-control" id="selectedClass">
                <option hidden="true">Select Class</option>
                {% for class in classes %}
                    <option>{{ class }}</option>
                {% endfor %}
          </select><label>Select Class</label></div>
        <div class="col-sm-2"><input placeholder="Select date" type="date" id="setDate" class="form-control"><label>Set Date</label></div>
        <div class="col-sm-2"><input type="time"  id="setTime" class="form-control" /><label>Set Time</label></div>

        <div class="col-sm-2"><input placeholder="Select date" type="date" id="dueDate" class="form-control"><label>Due Date</label></div>
        <div class="col-sm-2"><input type="time" id="dueTime" class="form-control" /><label>Due Time</label></div>

    </div> 
    <div class="row">
        <div class="col-sm-2 offset-sm-10">
            <div class="submit-homework" style="justify-content: center;"><button onclick="ajaxSendData()" id="setHomeworkButton" type="button" class="btn btn-success">Set Homework</button></div>
        </div>
    </div>
</div>
<div id="questions" class="question">

    <!-- QUESTION GENERATED HERE BY JAVASCRIPT -->

</div>
<button onclick='addNewQuestion();' class="btn btn-primary" style="width: 80%; margin-left: 10%; margin-right: 10%; background-color: #999999; border-radius: 20px ;justify-content: center;">
    <h3 style="margin-top:8px;">Add New Question...</h3>
</div>
{% endblock %}