{% extends "base.html" %}

{% block content %}
<h1>{{ Class.name }} </h1>
<div class="container">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student Name</th>
                {% for homework in homeworks %}
                <th>{{ homework.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.username }}</td>
                {% for marks in student.marks %}
                    {% if marks.marks %}
                        {% set mark_percent = '{:.1f}'.format((marks.marks | float /marks.maxMarks | float) * 100 | round(1)) | float %}
                        {% if mark_percent <= 50 %}
                        <td style="background-color: rgba(255, 106, 106, 0.616);">
                        {% elif mark_percent > 50 and mark_percent < 80 %}
                        <td style="background-color: rgba(255, 191, 71, 0.521);">
                        {% elif mark_percent >= 80 %}
                        <td style="background-color: rgba(99, 218, 99, 0.568);">
                        {% else %}
                        <td>
                        {% endif %}
                        {{ marks.marks }} / {{ marks.maxMarks }} [{{ '{:.1f}'.format((marks.marks | float /marks.maxMarks | float) * 100 | round(1)) }}%]</td>
                    {% else %}
                        <td>Not Attempted</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>  
{% endblock %}


