{% extends "base.html" %}

{% block content %}

<script>

    function openClass(classID)
    {
      window.location.href = '/viewClass/'+classID;
        /*
        const overlay = document.getElementById('overlay');
        displayClassInOverlay(classID);

        console.log("Opening Class " , classID);
        overlay.classList.remove('d-none');
        */
    }
    function showNewClassDiv()
    {
      document.getElementById("newClassDiv").style.display = "block";
      document.getElementById("createNewClassBtn").style.display = "none";

    }
    function POSTNewClass()
    {
      let newClassName = document.getElementById("newClassNameTxt");
      console.log(newClassName.value);
      if(newClassName.value==="")
      {
        newClassName.insertAdjacentHTML('afterend',"<label style='color:red; text-align:center;'>Input Name</label>");
      }
      else{
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/viewClasses_teacherPOST");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({newClassName:newClassName.value}));//, input2: input2Value}));
        console.log("New Class Name Submitted");
        xhr.addEventListener("load", function() {
          var response = JSON.parse(xhr.responseText);
          console.log("Response received:", response['result']);
          if(response['result'] === "Class already exists"){
            newClassName.insertAdjacentHTML('afterend',"<label  id='warningLabel' style='color:red; text-align:center;'>Class already exists</label>");
          }
          else if(response['result'] === "success"){
              newClassName.insertAdjacentHTML('afterend',"<label  id='warningLabel' style='color:green; text-align:center;'>Class created, refresh page</label>");
          }
          else{
            classCode.insertAdjacentHTML('afterend',"<label  id='warningLabel' style='color:red; text-align:center;'>Error creating class</label>");
          }
        });

      }
    }

</script>



<h1>Classes</h1>
<h6 style="text-align: center;">(a-z)</h6>

{% if newClassError %}
<h6 style="text-align:center">{{ newClassError }}</h6>
{% endif %}

<div class="container" style=" display: flex;  justify-content: center;  align-items: center; margin-bottom: 10px;">
  <div class="form-group">
  <button id="createNewClassBtn" onclick="showNewClassDiv();" type="button" class="btn btn-primary form-control">Create New Class</button>
  <br>
  <div id="newClassDiv" class="newClassDiv" style="display:none;">
    <input id="newClassNameTxt" type="text" class="form-control" placeholder="Input New Class Name" name="newClassName" style="width:100%;">
    <button onclick="POSTNewClass()" type="button" class="btn btn-success form-control" style="align-self: right;">Create New Class</button>
    
  </div>
  </div>
</div>



<div class="container">
    <div class="row">
{% for class in classes|sort(attribute='noStudents') %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top gradient-image" src="path/to/image.jpg" alt="">

      <div class="card-body">
        <h5 class="card-title">{{ class[0].name }}</h5>
      
        <p class="card-text">Number of Students: {{ class[0].noStudents }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button onclick="openClass({{ class[0].id }})" type="button" class="btn btn-sm btn-outline-secondary">Open</button>
            <!--<button type="button" class="btn btn-sm btn-outline-secondary">Marks</button>-->
          </div>
          <small class="">Code to join: {{ class[0].class_code }}<br></small>
          
        </div>
      </div>
    </div>
  </div>
{% endfor %}  
    </div>
  </div>


{% endblock %}