{% extends "base.html" %}

{% block content %}
<script>
      function showNewClassDiv()
    {
      document.getElementById("newClassDiv").style.display = "block";
      document.getElementById("createNewClassBtn").style.display = "none";

    }
    function POSTNewClass()
    {

      let classCode = document.getElementById("classCode");
      try
      {
        document.getElementById("warningLabel").remove();
      }catch(error){}
      console.log(classCode.value);
      if(classCode.value.length != 5)
      {
        classCode.insertAdjacentHTML('afterend',"<label id='warningLabel' style='color:red; text-align:center;'>Class code must be 5 characters long</label>");
      }
      else{
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/joinClassPOST");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({classCode:classCode.value}));//, input2: input2Value}));
        console.log("Class code submitted");
        xhr.addEventListener("load", function() {
          var response = JSON.parse(xhr.responseText);
          console.log("Response received:", response['result']);
          if(response['result'] === "Already enrolled in class"){
            classCode.insertAdjacentHTML('afterend',"<label  id='warningLabel' style='color:red; text-align:center;'>Already enrolled in class</label>");
          }
          else if(response['result'] === "Class does not exist"){
            classCode.insertAdjacentHTML('afterend',"<label  id='warningLabel' style='color:red; text-align:center;'>No class with that class code</label>");
          }
          else if(response['result'] === "success"){
            location.reload();
          }
          else{
            classCode.insertAdjacentHTML('afterend',"<label  id='warningLabel' style='color:red; text-align:center;'>Error joining class</label>");
          }
          // Do something with the response, such as updating the UI
        });
        

      }
    }
</script>
    <h1>Classes</h1>
    <div class="container" style=" display: flex;  justify-content: center;  align-items: center; margin-bottom: 10px;">
      <div class="form-group">
      <button id="createNewClassBtn" onclick="showNewClassDiv();" type="button" class="btn btn-primary form-control">Join New Class</button>
      <br>
      <div id="newClassDiv" class="newClassDiv" style="display:none;">
        <input id="classCode" type="text" class="form-control" placeholder="Input class code" name="newClassName" style="width:100%;">
        <button onclick="POSTNewClass()" type="button" class="btn btn-success form-control" style="align-self: right;">Join Class</button>
        
      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
  {% for class in classes %}
  <div class="col-md-4">
      <div class="card mb-4 box-shadow">
          <img class="card-img-top gradient-image" src="path/to/image.jpg" alt="">
  
        <div class="card-body">
          <h5 class="card-title">{{ class.name }}</h5>
        


        </div>
      </div>
    </div>
  {% endfor %}  
      </div>
    </div>

{% endblock %}