@font-face {
    font-family: 'Poppins-Medium';
    src: url(Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(Fonts/Poppins-Light.ttf);
}
.navbar-brand,.nav-link{
    color: #fff !important;
}
.btn-default{
    background-color: #00ad45;
}
.btn-primary{
    color: #fff;
    background-color: #00ad45 !important;
    border-color: #00ad45 !important;
}
.btn-outline-secondary{
    margin-right: 3px !important;
    border-color: #00ad45 !important;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #00ad45 !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active{
    background-color: #00ad45 !important;
}
h1{
    font-family: Poppins-Light !important;
    text-align: center;
    padding-top: 10px;
}
body{
    font-family: Poppins-Light !important;
    padding-bottom: 100px;
   ;
}
.col-sm-4{
    padding-top: 15px;
    padding-bottom: 15px;
}
canvas {
    background: #f8f8f8;
    padding: 0;
    margin: 0 auto;
   /*margin-top: 5%;
   */
    display: block;
}
.navbar {
    margin-bottom: 0;
    padding: 0;
    margin: 0;
}
.active{
    background-color: green;
}
.overlay {
    position:absolute;
    display:none;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0, 0, 0, 0.8);
    z-index:9999;
}
.close {
    position:absolute;
    top:-40px;
    right:-5px;
    width:25px;
    height:25px;
    cursor:pointer;
    color: #fff;
    display: inline-block;
}
.popup {
    position:absolute;
    width:50%;
    height:30%;
    top:25%;
    left:25%;
    text-align:center;
    border-radius: 10px;
    background:rgb(240,240,240);
    box-shadow: 0px 0px 10px 0px black;
}
.popup h2 {
    font-size:25px;
    height:50px;
    line-height:50px;
    color:#fff;
    border-radius:10px 10px 0px 0px;
    margin: 0px;
}
.weightButton {
    width:100px;
    height:50px;
    color:#fff;
    font-weight:bolder;
    border-radius:10px;
    background:silver;
}
.dropdown-menu{
    padding: 0px !important;
}
