body{
    background-color: #282828 !important;
}
.box {
    background-color:lightgrey;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 450px;
    padding: 0;
    background-color: lightgrey;
    border-radius: 50px;
}
.box img{
    width: 50px !important;
    height: 50px;
    filter: brightness(0) invert(1);
    margin-bottom: 10px;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
}
.buttonOption{
    background-color: #00ad45;
    border: none;
    outline: none;
}
.buttonOption:hover{
    background: linear-gradient(#00ad45 0%, #00bf45 40%);
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(Fonts/Poppins-Light.ttf);
}
h2{
    padding: 30px 30px;
    text-align:center;
    border-radius: 10px 10px 0 0;
    font-family: Poppins-Medium !important;
}
h4{
    font-family: Poppins-Medium !important;
    color: #fff !important;
}
.login_form{
    margin-top: 10px;
}
.register_form{
    margin-top: -10px;
}
div.main{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #679289;
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
}
input[type=text],input[type=password],input[type=email]{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}
label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
input[type=submit]{
    display: block;
    margin: 5px auto;
    font-size: 16px;
    background: linear-gradient(#00ad45 5%, #00ad45 100%);
    border: 0px solid #000;
    color: #fff !important;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
    padding: 10px 0;
    outline:none;
}
input[type=button]:hover{
    background: linear-gradient(#00ad45 5%, #00943b 100%);
}
input{
    font-family: Poppins-Light !important;
}
